
<section class="creditos">
    <h1>Axel Kleiman - Nicolas Reifut - Ivan Latascheff- Nicolas Becherman</h1>    
    <div class="fotocreditos">
    <img src='~/img/creditos/fotocreditos.jpg'>
    </div>
</section>