<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Elecciones Argentinas 2023</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Elecciones Presidenciales de Argentina 2023</h1>
        <p>Las elecciones presidenciales de Argentina se llevarán a cabo en el año 2023 para elegir al próximo presidente de la nación. Este proceso electoral es de vital importancia para el país, ya que definirá el rumbo político y económico en los próximos años.</p>
        
        <p>En estas elecciones, los ciudadanos argentinos mayores de 18 años tendrán la oportunidad de ejercer su derecho al voto y elegir a sus representantes en distintos niveles de gobierno, incluyendo presidente, vicepresidente, senadores y diputados.</p>
        
        <p>Los partidos políticos presentarán a sus candidatos para competir en las elecciones y presentarán sus propuestas y programas de gobierno para convencer a los votantes.</p>
        
        <p>Es importante recordar que las elecciones son un momento clave para la democracia, y cada voto cuenta para la construcción de un país más justo y próspero.</p>
        
        <p>¡Acompáñanos en este proceso electoral y sé parte del futuro de Argentina en las elecciones de 2023!</p>
    </div>
    <section class="creditos">
    <img src='~/img/random/casarosada.jpg'>
    </section>
</body>
</html>
